<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <h3 class="text-center">Blog của bạn</h3>
        <p>
            <a href="/">
                Về trang chủ
            </a>
        </p>
        <table class="table">
            <tr>
                <th>Tiêu đề</th>
                <td th:text="${blog.title}"></td>
            </tr>
            <tr>
                <th>Tác giả</th>
                <td th:text="${blog.author}"></td>
            </tr>
            <tr>
                <th>Tóm tắt</th>
                <td th:text="${blog.summary}"></td>
            </tr>
            <tr>
                <th>Nội dung</th>
                <td th:text="${blog.content}"></td>
            </tr>
        </table>
    </div>
    <footer th:replace="/layout :: footer"></footer>
</body>
</html>