<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title" th:text="${book.name}"></h5>
            <p class="card-text" th:text="${book.summary}"></p>
            <p class="card-text" th:text="${book.amount}"></p>
            <p th:if="${book.amount == 0}" class="btn btn-primary"><span>Đã hết</span></p>
            <form action="/rent" method="post" th:object="${bookcard}">
                <input type="hidden" th:field="*{book}">
                <button type="submit" class="btn btn-primary" th:if="${book.amount > 0}">Thuê</button>
            </form>
        </div>
    </div>
</div>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>